<footer class="main-footer" role="contentinfo">
    <div class="container">
    	<div class="footer-wrapper">

	        <div class="footer-logo el-block col-md-6">
	        	<a href="https://www.oeaw.ac.at/acdh/" target="_blank">
	        		<img src="{{ url('<front>') }}{{ directory }}/images/acdh_oeaw_logo.svg" alt="ACDH OEAW Logo"/>
	        	</a>	
	        </div>

	        <div class="footer-social el-block col-md-6">
	        	<a class="twitter" href="https://twitter.com/acdh_oeaw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
	        	<a class="mail" href="mailto:#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        <!--_{currentPageDomain}/Shibboleth.sso/Login?target={UrlEncodedCurrentPageUrl}_ -->
                        {% set myUrl = url('<front>')|raw %}
                        <a class="shibboleth" href="{{ url('<front>')|split('/browser/') }}/Shibboleth.sso/Login?target={{ myUrl["#markup"]|url_encode }}"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
	        </div>
	        {{ page.footer }}
	    </div>    
    </div>
</footer>