<header class="main-header" role="banner">
  <nav class="navbar navbar-expand-md navbar-light bg-white box-shadow">
    <div class="container">
      {{ page.header }}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMain">
        {{ page.main_navigation }}
        <div class="navbar-icons">
          {% if logged_in %}
              <a href="{{ url('<front>') }}user/logout">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <span class="navbar-icons-text">&nbsp;{{ "Logout"|trans }}</span>
              </a>
              <a href="{{ url('<front>') }}user">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <span class="navbar-icons-text">&nbsp;{{ user.username }}</span>
              </a>
          {% else %}
              <a href="{{ url('<front>') }}user/login">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                <span class="navbar-icons-text">&nbsp;{{ "Login"|trans }}</span>
              </a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>